.places__paragraph_kiev{
  margin: 0;
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 320px){
.places__paragraph_kiev{
  margin: 0 auto;
  width: 95%;
  grid-column: 1;
  grid-row: 4;
}
}
