.intro__subtitle{
  margin: 3% 0 0 0;
  width: 70%;
  font-size: 24px;
  line-height: 142%;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
.intro__subtitle{
  width: 100%;
}
}

@media screen and (max-width: 320px) {
.intro__subtitle{
  line-height: 125%;
}
}