.places__text_margin_active{
  margin-bottom: 10%;
}

@media screen and (max-width: 876px){
  .places__text_margin_active{
    margin-bottom: 3%;
    }
  }

@media screen and (max-width: 769px){
.places__text_margin_active{
  margin-bottom: 5%;
  }
}