.intro__text{
  margin: 3% 0 0 0;
  width: 70%;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  color:#ffffff;
}

@media screen and (max-width: 769px) {
.intro__text{
  width: 100%;
}
  }