.places__kiev_website{
  margin: 0;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}

@media screen and (max-width: 320px) {
.places__kiev_website{
  margin: 0 auto;
  width: 95%;
  grid-column: 1;
  grid-row: 2/3;
}
}