.places__paragraph-gales{
  margin: 0;
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 320px){
.places__paragraph-gales{
  width: 95%;
  margin: 0 auto;
  grid-column: 1;
  grid-row: 4;
  }
}