.places__img_kiev{
  height: 100%;
  max-width: 90%;
  border-radius: 3%;
  grid-column: 1;
  grid-row: 2;
}

@media screen and (max-width: 320px) {
.places__img_kiev{
  height: 100%;
  max-width: 100%;
  grid-column: 1;
  grid-row: 3;
}
}