.places__title_kiev{
  margin: 0;
  max-width: 60%;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 769px){
  .places__title_kiev{
    font-size: 42px;
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
.places__title_kiev{
  margin-left: 2%;
  width: 95%;
  font-size: 32px;
  line-height: 109%;
  grid-column: 1;
  grid-row: 1;
}
}