.places__img{
  height: 100%;
  width: 100%;
  border-radius: 2%;
  grid-area: img;
}


@media screen and (max-width: 649px) {
.places__img{
  margin: 1% auto;
  order: 3;
  }
}

@media screen and (max-width: 320px) {
  .places__img{
    grid-column: 1;
    grid-row: 3;
  }
}
