.container__subtitle{
  margin: 0.2% auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 320px){
  .container__subtitle{
    font-size: 14px;
    line-height: 114%;
  }
}