.intro__title{
  margin: 0;
  max-width: 100%;
  font-size: 72px;
  line-height: 107%;
  font-weight: 900;
  color: #ffffff;
}

@media screen and (max-width: 320px){
.intro__title{
  font-size: 32px;
  line-height: 109%;
}
}