.places__title{
  margin: 0;
  width: 100%;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  color: #fff;
  grid-area: title;
}

@media screen and (max-width: 871px){
  .places__title{
    font-size: 54px;
    }
  }

  @media screen and (max-width: 769px){
    .places__title{
      align-self: flex-end;
      }
    }

  @media screen and (max-width: 769px){
.places__title{
  font-size: 42px;
  }
}

@media screen and (max-width: 649px) {
.places__title{
  text-align: center;
  order: 1;
}
}

@media screen and (max-width: 320px) {
  .places__title{
    width: 95%;
    font-size: 32px;
    text-align: left;
    order: 1;
  }
  }