.places{
  width: 90%;
  margin: 10% auto 0 auto;
}

@media screen and (max-width: 769px){
  .places{
    width: 95%;
  }
}

@media screen and (max-width: 671px) {
.places{
  width: 100%;
}
}

@media screen and (max-width: 320px) {
.places{
  margin: 30% auto 0 auto;
}
}