.places{
  width: 95%;
  padding-top: 10%;
  margin: 0 auto;
  border: red solid 1px;
}

/* @media screen and (max-width: 789px) {
  
  .places__grid_kiev_container{
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 180px 360px 30px 330px;
  }
  
} */