.places__text-burundi{
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  color: #fff;
}

@media screen and (max-width: 769px){
  .places__text-burundi{
  font-size: 16px;
  line-height: 163%;
  }
}