.places__grid_eeuu_container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
  "title url"
  "img text"
  "img text"
  "button text";
  row-gap: 3%;
}
