.gales__title{
  margin: 0;
  max-width: 60%;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 769px){
  .gales__title{
    font-size: 42px;
    max-width: 75%;
  }
}