.places__paragraph{
  margin: 1% auto;
  grid-area: tex;
}

@media screen and (max-width: 649px){
  .places__paragraph{
    width: 95%;
    margin: 1% auto;
    order: 4;
  }
  }

@media screen and (max-width: 320px){
.places__paragraph{
  margin: 0 auto;
  grid-column: 1;
  grid-row: 4;
}
}
