.places__grid_burundi_container{
  display: grid;
  grid-template-columns: repeat( 2, 50%);
  grid-template-rows: repeat(2, auto) 10%;
  row-gap: 2%;
  padding-bottom: 12%;
}

@media screen and (max-width: 769px){
  .places__grid_burundi_container{
    grid-template-rows: 15% 60% 10%;
  }
}
