.photo{
  border: blue solid 2px;
  margin: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1%;
}

@media screen and (max-width: 769px) { 
  .photo{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    gap: 2% 2%;
  }
  .photo__gird_card{
    margin: 0 auto;
  }
}