.places__grid_gales_container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
  "title url"
  "img text"
  "img text"
  "button text";
  gap: 3% 3%;
}
