.places__button{  
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;
  color: #fff;
  width: 355px;
  height: 48px;
  background-color: #0278FE;
  border-radius: 4px;
  grid-area: buttom;
  gap: 10px;
  transition: 0.3s linear;
  text-align: center
}

@media screen and (max-width: 649px){
  .places__button{
    margin: 1% auto;
    order: 5;
  }
  }

  @media screen and (max-width: 359px){
    .places__button{
      width: 325px;
      font-size: 14px;

    }
    }

@media screen and (max-width: 320px){
.places__button{
  width: 300px;
}
}