.places__img-poz{
  height: 100%;
  max-height: 100%;
  width: 90%;
  max-width: 90%;
  border-radius: 3%;
  grid-row: 2;
  grid-column: 1;
}

@media screen and (max-width: 320px) {
.places__img-poz{
  height: 100%;
  width: 100%;
  max-width: 100%;
  grid-column: 1;
  grid-row: 3;
  }
}